@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

:root {
	--Soft-Blue: hsl(231, 69%, 60%);
	--Soft-Red: hsl(0, 94%, 66%);
	--Grayish-Blue: hsl(229, 8%, 60%);
	--Very-Dark-Blue: hsl(229, 31%, 21%);
	--font-family: "Rubik", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	overflow-x: hidden;
}

body {
	font-family: var(--font-family);
	line-height: 1.4;
	background: white;
	color: #000;
	font-size: 15px;
	min-height: 100vh;
}


a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

input {
	padding: 0.7rem 0.8rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	background-color: #f0f0f0;
	margin-right: 10px;
}

/* Utility Classes */
.container {
	max-width: 1600px;
	margin: auto;
	overflow: hidden;
	padding: 1.5rem;
	height: 100%;
}

.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 35px;
	right: 30px;
	z-index: 2;
	display: none;
}

.btn-red,
.btn-blue,
.btn-white {
	display: inline-block;
	padding: 12px 25px;
	margin-right: 18px;
	background-color: var(--Soft-Red);
	font-size: 14px;
	color: #fff;
	border: 1px solid var(--Soft-Red);
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	letter-spacing: 1.2px;
	transition: all 0.1s ease-in;
}

.btn-blue {
	background-color: var(--Soft-Blue);
	border: 1px solid var(--Soft-Blue);
	padding: 18px 25px;
}

.btn-white {
	background-color: #faf4f4;
	border: none;
	box-shadow: 0 5px 12px -7px #777;
	color: var(--Very-Dark-Blue);
	border: 1px solid #e4e4e4;
	padding: 18px 25px;
}

.btn-red:hover {
	background-color: transparent;
	color: var(--Soft-Red);
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 6px 9px -7px #777;
}

.btn-blue:hover {
	background-color: transparent;
	color: var(--Soft-Blue);
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 6px 9px -7px #777;
}

.btn-white:hover {
	border: 1px solid var(--Very-Dark-Blue);
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 6px 9px -7px #777;
}

.h-primary {
	font-size: 3rem;
	color: var(--Very-Dark-Blue);
	font-weight: 600;
}

.h-secondary {
	font-size: 2rem;
	color: var(--Very-Dark-Blue);
	font-weight: 600;
}

.h-services {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1.1px;
}

.para-primary {
	font-size: 1.1rem;
	color: var(--Grayish-Blue);
	letter-spacing: 1.1px;
}

.my-1 {
	margin: 1.6rem 0;
}

.my-2 {
	margin: 2.2rem 0;
}

.icon {
	position: relative;
	height: 180px;
	width: 180px;
	background-color: #f0385833;
	border-radius: 50%;
	margin-bottom: 30px;
}

.icon::after {
	content: "";
	position: absolute;
	width: 130px;
	height: 130px;
	background: #f0385880;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fa-play,
.fa-trophy,
.fa-users {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.8rem;
	color: #b10606;
}

.fa-facebook-square,
.fa-twitter {
	color: #fff;
	font-size: 25px;
}

/* Accordion styles */
.faq-tabs {
	width: 50%;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.faq-tab {
	width: 100%;
	color: white;
	overflow: hidden;
	font-size: 18px;
}

.faq-tab-label {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 1em;
	background: #2c3e50;
	font-weight: bold;
	cursor: pointer;
	/* Icon */
}

.faq-tab-label:hover {
	background: #1a252f;
}

.faq-tab-label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.faq-tab-content {
	max-height: 0;
	padding: 0 1em;
	color: #2c3e50;
	background: white;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.faq-input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.faq-input:checked+.faq-tab-label {
	background: #1a252f;
}

.faq-input:checked+.faq-tab-label::after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.faq-input:checked~.faq-tab-content {
	max-height: 100vh;
	padding: 1em;
}

/* Header */
.main-header {
	position: relative;
	height: 90vh;
	margin-bottom: 20px;
}

.main-header .main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.main-header .main-nav .logo {
	margin-top: 5px;
	width: 180px;
}

.main-header .main-nav .nav-links {
	display: flex;
	align-items: center;
	text-align: center;
}

.main-header .main-nav .nav-links li a {
	margin-right: 22px;
	font-size: 15px;
	font-weight: 500;
	color: #000;
}

.main-header .heading-content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-header .heading-content::after {
	content: "";
	position: absolute;
	width: 32%;
	height: 280px;
	background-color: var(--Soft-Blue);
	border-radius: 130px 0 0 130px;
	right: 0;
	bottom: 100px;
	z-index: -1;
}

.main-header .heading-content div:nth-child(2) img {
	width: 800px;
	height: 600px;
}




/* Features Section */
.main-features {
	position: relative;
	height: 100%;
	width: 100%;
	margin-bottom: 110px;
}

.main-features::before {
	content: "";
	position: absolute;
	width: 32%;
	height: 270px;
	background-color: var(--Soft-Blue);
	border-radius: 0 120px 120px 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.main-features .features-heading {
	width: 38%;
	text-align: center;
	margin: auto;
	margin-bottom: 60px;
}

.main-features .features-tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
}

.main-features .features-tabs .tab {
	padding: 2rem;
	letter-spacing: 1.1px;
	font-size: 19px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.main-features .features-tabs .show-tab {
	border-bottom: 4px solid var(--Soft-Red);
}




.main-features .features-content-1,
.main-features .features-content-2,
.main-features .features-content-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: start;
}

.main-features .features-content {
	display: none;
}


.main-features .show-content {
	display: block;
}




.main-features .features-content-1 div:nth-child(1) img,
.main-features .features-content-2 div:nth-child(1) img,
.main-features .features-content-3 div:nth-child(1) img {
	width: 590px;
	height: 420px;
}

.main-features .features-content-1 div:nth-child(1),
.main-features .features-content-2 div:nth-child(1),
.main-features .features-content-3 div:nth-child(1) {
	margin-right: 110px;
}


.main-features .features-content-1 div:nth-child(2),
.main-features .features-content-2 div:nth-child(2),
.main-features .features-content-3 div:nth-child(2) {
	width: 50%;
	padding: 0 8rem 0 0;
}






/* Services section */
.main-services {
	height: 100%;
	width: 100%;
	margin-bottom: 90px;
}

.main-services .services-heading {
	width: 40%;
	margin: auto;
	text-align: center;
	margin-bottom: 70px;
}

.main-services .service-content {
	width: 80%;
	margin: auto;
}


.main-services .service-content .parent-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.main-services .service-content .parent-card .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 17px 0px #e2e2e2;
	padding: 2.2rem;
}

.main-services .service-content .parent-card .card small {
	font-size: 15px;
	color: var(--Grayish-Blue);
	margin-bottom: 40px;
}






/* FAQ Section */
.main-faq {
	position: relative;
	height: 100%;
	width: 100%;
	margin-bottom: 100px;
}

.main-faq .faq-heading {
	width: 40%;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}


.main-faq .faq-content {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.main-faq .faq-content .faq-logo {
	display: inline-block;
	width: 560px;
}

.main-faq .start-now {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}




/* Subscribtion Section */
.main-subscribtion {
	width: 100%;
	height: 100%;
	background-color: #6b6bf0;
	padding: 3.8rem 0;
}

.main-subscribtion .subscribtion-content {
	width: 50%;
	margin: auto;
	text-align: center;
}


.main-subscribtion .subscribtion-content small {
	font-size: 16px;
	color: white;
	letter-spacing: 1.2px;
}

.main-subscribtion .subscribtion-content .subscribtion-heading {
	font-size: 1.7rem;
	color: white;
	margin-bottom: 50px;
}

.subscribe-form input[type=submit]:hover {
	background-color: white;
}



/* Footer section */
.main-footer {
	width: 100%;
	height: 100%;
	bottom: 0	;
	padding: 2.2rem 0;
	background-color: var(--Very-Dark-Blue);
	color: white;
}

.main-footer .footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.main-footer .footer-content div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.main-footer .footer-content div .footer-logo {
	filter: invert(100%);
	width: 130px;
	margin-right: 20px;
}

.main-footer .footer-content div:nth-child(2) a {
	margin-left: 20px;
}

.main-footer .footer-content div .footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-footer .footer-content div .footer-links li {
	font-size: 16px;
	margin-left: 20px;
}






/* Media Queries */
@media(max-width: 500px) {

	/* Responsive Hmaburger design */
	.menu-btn {
		display: block;
	}

	.menu-btn:hover {
		opacity: 0.5;
	}

	.main-header .main-nav ul.nav-links {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #f3f1f1;
		width: 70%;
		height: 100%;
		border-right: rgb(219, 218, 218) 2px solid;
		opacity: 0.95;
		padding: 30px;
		transform: translateX(-500px);
		transition: all 0.2s ease-out;
		z-index: 99999;
	}


	.main-header .main-nav ul.nav-links li {
		padding: 20px;
		border-bottom: #ccc solid 1px;
		margin-bottom: 30px;
		margin-top: 20px;
	}

	.main-header .main-nav ul.nav-links li a {
		font-size: 18px;
		font-weight: bold;
	}

	.main-header .main-nav ul.nav-links li:last-child {
		border-bottom: 0;
	}

	.main-header .main-nav ul.nav-links.show {
		transform: translateX(-20px);
	}


	/* Utility Classes */
	.h-primary {
		font-size: 2.1rem;
	}

	.h-secondary {
		font-size: 1.8rem;
	}

	.h-services {
		font-size: 1.1rem;
	}

	.para-primary {
		font-size: 15.4px;
	}


	input {
		display: block;
		width: 100%;
		padding: 1rem;
		border: 1px solid #ccc;
		border-radius: 4px;
		outline: none;
		background-color: #f0f0f0;
		margin-bottom: 10px;
	}


	.btn-blue {
		background-color: var(--Soft-Blue);
		border: 1px solid var(--Soft-Blue);
		padding: 18px 25px;
		margin-bottom: 10px;
	}


	/* For accordion FAQ */
	.faq-tabs {
		width: 100%;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
	}



	.main-header {
		position: relative;
		height: 100vh;
		margin-bottom: 10px;
		}


	.main-header .main-nav {
		margin-bottom: 40px;
	}



	.main-header .heading-content {
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.main-header .heading-content::after {
		content: "";
		position: absolute;
		width: 60%;
		height: 130px;
		background-color: var(--Soft-Blue);
		border-radius: 110px 0 0 110px;
		right: 0px;
		top: 240px;
		z-index: -1;
	}

	.main-header .heading-content div:nth-child(1) {
		text-align: center;
		margin-bottom: 80px;
	}

	.main-header .heading-content div:nth-child(2) img {
		width: 100%;
		height: 100%;
	}




	/* Main features section*/
	.main-features {
		position: relative;
		height: 100%;
		width: 100%;
		margin-bottom: 60px;
	}

	.main-features::before {
		content: "";
		position: absolute;
		width: 65%;
		height: 140px;
		background-color: var(--Soft-Blue);
		border-radius: 0 110px 110px 0;
		left: 0px;
		bottom: 340px;
		z-index: -1;
	}


	.main-features .features-heading {
		width: 80%;
		text-align: center;
		margin: auto;
		margin-bottom: 50px;
	}


	.main-features .features-tabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 70px;
	}

	.main-features .features-tabs .tab {
		padding: 1.8rem;
		letter-spacing: 1.1px;
		font-size: 16px;
		border-bottom: 1px solid #ccc;
		cursor: pointer;
	}

	.main-features .features-tabs .show-tab {
		border-bottom: 4px solid var(--Soft-Red);
	}

	.main-features .features-content-1,
	.main-features .features-content-2,
	.main-features .features-content-3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: start;
	}

	.main-features .features-content {
		display: none;
	}


	.main-features .show-content {
		display: block;
	}




	.main-features .features-content-1 div:nth-child(1) img,
	.main-features .features-content-2 div:nth-child(1) img,
	.main-features .features-content-3 div:nth-child(1) img {
		width: 100%;
		height: 100%;
	}



	.main-features .features-content-1 div:nth-child(1),
	.main-features .features-content-2 div:nth-child(1),
	.main-features .features-content-3 div:nth-child(1) {
		margin-right: 0;
	}


	.main-features .features-content-1 div:nth-child(2),
	.main-features .features-content-2 div:nth-child(2),
	.main-features .features-content-3 div:nth-child(2) {
		width: 120%;
		padding: 1.8rem;
		text-align: center;
	}


	/* Services section */
	.main-services {
		height: 100%;
		width: 100%;
		margin-bottom: 60px;
	}

	.main-services .services-heading {
		width: 90%;
		margin: auto;
		text-align: center;
		margin-bottom: 70px;
	}


	.main-services .service-content {
		width: 90%;
		margin: auto;
	}


	.main-services .service-content .parent-card {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
	}

	.main-services .service-content .parent-card .card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 1px solid #eeeeee;
		box-shadow: 0px 0px 17px 0px #e2e2e2;
		padding: 2rem;
	}

	.main-services .service-content .parent-card .card small {
		font-size: 13px;
		color: var(--Grayish-Blue);
		margin-bottom: 30px;
	}



	/* FAQ Section */
	.main-faq {
		position: relative;
		height: 100%;
		width: 100%;
		margin-bottom: 80px;
	}

	.main-faq .faq-heading {
		width: 90%;
		margin: auto;
		text-align: center;
		margin-bottom: 50px;
	}


	.main-faq .faq-content {
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
	}

	.main-faq .faq-content .faq-logo {
		display: inline-block;
		width: 300px;
		margin-bottom: 70px;
	}




	/* Subscribtion Section */
	.main-subscribtion {
		width: 100%;
		height: 100%;
		background-color: #6b6bf0;
		padding: 3.8rem 0;
	}

	.main-subscribtion .subscribtion-content {
		width: 100%;
		margin: auto;
		text-align: center;
	}


	.main-subscribtion .subscribtion-content small {
		font-size: 15px;
		color: white;
		letter-spacing: 1.2px;
	}

	.main-subscribtion .subscribtion-content .subscribtion-heading {
		font-size: 1.8rem;
		color: white;
		margin-bottom: 50px;
	}

	.subscribe-form input[type=submit] {
		padding: 0.6rem;
		font-size: 15px;
		letter-spacing: 1.1px;
	}

	.subscribe-form input[type=submit]:hover {
		background-color: white;
	}






	/* Footer section */
	.main-footer .footer-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}


	.main-footer .footer-content div:nth-child(1) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-bottom: 40px;
	}

	.main-footer .footer-content div:nth-child(1) .footer-logo {
		margin-bottom: 40px;
	}

	.main-footer .footer-content div:nth-child(2) a {
		margin-left: 20px;
	}

	.main-footer .footer-content div .footer-links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main-footer .footer-content div .footer-links li {
		font-size: 15px;
		margin-left: 0;
		margin-bottom: 20px;
	}
}