.row {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.desc {
    grid-column-start: 1;
    grid-column-end: 3;
}

.content {
    grid-column-start: 3;
    grid-column-end:4;
    border-radius: 15px;
}

hr {
    width: 90%;
    text-align: left;
}


@media(max-width: 500px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }
}