.row {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.desc {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid #eeeeee;
    box-shadow: 0px 0px 17px 0px #e2e2e2;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 10px;
}

.course-time{
    margin: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 15px;
    background: #fff;
    color: #008f00;
    border: 2px solid #008f00;
}

.content {
    grid-column-start: 2;
    grid-column-end:3;
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    box-shadow: 0px 0px 17px 0px #e2e2e2;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 10px;
}

.video-content, .img{
    align-self: center;
    justify-self: center;
    margin:auto;
    border-radius: 15px;
    height: 27rem;
    width: 48rem;
}

.badge {
    background: #e3a705;
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    font-weight: 900;
    color: white;
    margin:8px;
    padding: 2px 5px;
    position: absolute;
}

.ratings{
    font-size: 1.2rem;
    text-align: center;
    color: var(--Very-Dark-Blue);
}

.rated {
    font-size: 1.8rem;
}

.rating-star{
    height: 1.5rem;
    margin: 0;
    padding: 0 0.5rem;
}

.rating-star:hover{
    height: 1.8rem;
    margin: 0;
    padding: 0 0.5rem;
}

/*.desc hr {*/
/*    width: 90%;*/
/*    text-align: left;*/
/*}*/


@media(max-width: 500px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }
}