.row {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.desc {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid #eeeeee;
    box-shadow: 0px 0px 17px 0px #e2e2e2;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 10px;
}


.course-time{
    margin: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 15px;
    background: #fff;
    color: #008f00;
    border: 2px solid #008f00;
}

.course-struct{
    margin: 0.5rem;
    padding: 1.5rem;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 0px 17px 0px #e2e2e2;
}

.course-struct .heading{
    text-align: center;
    font-size: 2rem;
    color: var(--Very-Dark-Blue);
}

.course-struct .box{
    padding: 0.5rem;
    color: white;
    background: var(--Very-Dark-Blue);
    margin: 1rem 0;
    border-radius: 5px;
}

.course-struct .box span{
    background: white;
    border: 1px solid var(--Grayish-Blue);
    margin: 0.2rem;
    padding: 0.8rem 0.8rem;
    border-radius: 5px;
    color: var(--Very-Dark-Blue);
}

.content {
    grid-column-start: 3;
    grid-column-end:4;
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    box-shadow: 0px 0px 17px 0px #e2e2e2;
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
}

.video-content, .img{
    margin: 1.4rem 0rem 0.4rem 0rem; 
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    /* height: 27rem;
    width: 48rem; */
}

.badge {
    background:#ffd01a;
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: #000;
    margin:8px;
    padding: 8px;
    position: absolute;
}

.ratings{
    margin: 1.2rem 0;
    font-size: 1.2rem;
    text-align: center;
    color: var(--Very-Dark-Blue);
}

.rated {
    font-size: 1.8rem;
}

.rating-star{
    height: 1.5rem;
    margin: 0;
    padding: 0 0.5rem;
}

.rating-star:hover{
    height: 1.8rem;
    margin: 0;
    padding: 0 0.5rem;
}

/*.desc hr {*/
/*    width: 90%;*/
/*    text-align: left;*/
/*}*/


@media(max-width: 500px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.options-box{
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--Soft-Red);
    border-radius: 10px;
    color:#fff;
    cursor: pointer;

}

.options-box:hover {
    background-color:#fff;
    color:var(--Soft-Red);
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid var(--Soft-Red);
}

.options-box:active {
    background-color:#fff;
    color:var(--Soft-Red);
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solidvar(--Soft-Red);
}

.content-options{
    align-items: center;
    text-align: center;
}

.time-img{
    height: 1.5rem;
    margin: 0;
    padding: 0 0.5rem;
}