.row {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.desc {
    grid-column-start: 1;
    grid-column-end: 2;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: grey;
    border-radius: 15px;
}
